# Arquivos e pastas do ambiente virtual
venv/
app_sl/
app_sl
env/
ENV/
certs/
app.spec

# Bytecode do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuração do sistema
.Python

# Arquivos de cache
*.sqlite3
*.log

# Arquivos sensíveis
.env

# VSCode settings (se usar)
.vscode/

# PyCharm settings (se usar)
.idea/

# Arquivos gerados por sistema
.DS_Store
Thumbs.db

# Ignorar todos os arquivos __init__.py nas pastas que correspondem a blueprints
*/__init__.py

# Ignorar todas as pastas __pycache__ em qualquer nível
**/__pycache__/

database/
*.db